<!DOCTYPE html>
<html>
<head>
    <title>Book Recommendation App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Book Recommendation App</a>
    </nav>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Book Recommendation App!</h1>
            <p class="lead">Would you like book recommendations?</p>
            <form action="/recommend" method="POST">
                <button type="submit" id="yes_button" class="btn btn-success mr-2" name="yes_button">Yes</button>
                <button type="submit" id="no_button" class="btn btn-danger" name="no_button">No</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
